
@{
    Layout = null;
}



<html>																						
	<head>																					
		<title>ログイン画面</title>																				
		<link type="text/css" rel="stylesheet" href="/Content/bootstrap.css">
		<link type="text/css" rel="new stylesheet" href="/Content/Site.css">
        <script src="/Script/jquery-1.10.2.min.js" type="text/javascript"></script>
		
        <style>
            .BASECONTAINER {
				width:1000px;
				height:100%;
				margin:0 auto; /* 中央に寄せる */
				background-color:white;
				text-align:center;
                height: 100vh;
			}													
			.CONTAINER																			
			{																			
				width:250px;																		
				margin:0 auto;																		
				margin-bottom:5px;																		
			}																			
																
			.LEFT																			
			{																			
				float:left;																		
			}																			
			.RIGHT																			
			{																			
				float:right;																		
			}
            
            .TEXTBOX {
				width:100%;
				margin-bottom:5px;
			}

			.SPAN {
				float:left;
				margin-left:5px;
			}

			.CHECKBOX {
				margin-top:0px !important; 
				margin-bottom:5px !important; 
			}
																						
			.BUTTON																			
			{																			
				width:250px;																		
			}																			
			.TEXTAREA																			
			{																			
				width:500px;																		
				height:200px;																	
			}																			
		</style>

            <script type="text/javascript">

            //Javascriptで未入力チェック
            function CheckNull() {
                var userid = document.getElementById("txtユーザーID");
                var pass = document.getElementById("txtパスワード");

                if (userid.value == "") {
                    alert("ユーザーIDを入力してください");
                    return false;
                }

                if (pass.value == "") {
                    alert("パスワードを入力してください");
                    return false;
                }
            }
    </script>

	</head>
    <body>
        <form method="post" action="Index" id="Form1">
	    <div class="BASECONTAINER">
		    <div style="height:100px;clear:both;"></div>
		    <div class="CONTAINER">
			    <input type="text" class="TEXTBOX" name="ユーザーID" id="txtユーザーID" placeholder="ユーザー名"/>
			    <input type="password" class="TEXTBOX" name="パスワード" id="txtパスワード" placeholder="パスワード"/>
                <input type="text" class="TEXTBOX" name="メールアドレス" id="txtメールアドレス" placeholder="メールアドレス"/>
			    <input type="checkbox" class="CHECKBOX LEFT" name="ID保存" id="chkID保存"/>
			    <span class="SPAN">IDを保存する</span>
			    <input type="button" class="BUTTON" value="ログイン" id="btnログイン" @*onclick="return CheckNull()"*@/>
			    <a href="" class="LEFT" >パスワード忘れ</a>
			    <a href="" class="RIGHT" >新規登録</a>
		    </div>
		    <textarea class="TEXTAREA" readonly>お知らせ</textarea>
	    </div>
    </form>
    													
	<script type="text/javascript">
  
	    //Jqueryで未入力チェック
	    $("#btnログイン").click(
            function () {
                if ($("#txtユーザーID").val() == "") {
                    alert("ユーザーIDを入力してください");
                    return false;
                }

                if ($("#txtパスワード").val() == "") {
                    alert("パスワードを入力してください");
                    return false;
                }
                if ($("#txtメールアドレス").val() == "") {
                    alert("メールアドレスを入力してください");
                    return false;
                }
                //AjxリクエストをPOSTリクエストとしてAuthenticationコントローラーのIndexに送る
                $.ajax({
                    url: "/Authentication/Index",
                    type: "post",
                    data: $("#Form1").serialize(),
                    success: function (data) {
                        if (data.errmsg == "") {
                            window.location.href = "/BulletinBoard/Index";
                        }
                        else {
                            alert(data.errmsg);
                        }
                    },
                    error: function () {
                        alert("システムエラーが発生しました");
                    }
                });
            }
        );
    </script>
	    
</body>
</html>				
